.formlabelfontfamily {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.content-container-bg {
  background-color: rgb(126, 126, 240);
}

.logofont {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.headingtext {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.contenttext{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}